@import './config.scss';

.banner {
    width: 100%;
    position: relative;
    margin-bottom: 40px;

    &__img {
        object-fit: cover;
        width: 100%;
        height: 223px;
        border-radius: 25px;
    }

    &__filter {
        // Mise en forme du filtre
        @include filter;
        height: 223px;
        border-radius: 25px;
        background-color: rgba(0,0,0,0.6);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        
        // Mise en forme du texte
        @include centered-row;
        color: white;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 48px;
        font-weight: 700;
        padding: 55px;
    }

    &--about .banner__filter {
        background-color: rgba(0,0,0,0.3); // Ne fonctionne pas
        box-shadow: none;
    }
}