@import './config.scss';

$card-height-desktop: 340px;
$card-height-tablet: 290px;
$card-height-smartphones: 255px;

.cards-container {
    width: 100%;
    background-color: $background-color;
    border-radius: 25px;
    padding: 55px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: $card-height-desktop;
    gap: 40px;

    @include for-tablets {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: $card-height-tablet;
        padding: 30px;
        gap: 20px;
    }

    @include for-smartphones {
        background-color: transparent;
        grid-template-columns: 100%;
        grid-template-rows: $card-height-smartphones;
        padding: 0;
        gap: 20px;
    }

    .card-link {
        max-width: 340px;
        position: relative;
    }

    .card {
    
        &__img {
            width: 100%;
            height: $card-height-desktop;
            object-fit: cover;
            border-radius: 10px;

            @include for-tablets {
                height: $card-height-tablet;
            }

            @include for-smartphones {
                height: $card-height-smartphones;
            }
        }
    
        &__filter {
            @include filter;
            height: $card-height-desktop;
            border-radius: 10px;
            background: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(4,4,4,0.2), rgba(10,10,10,0), rgba(255,255,255,0));

            @include for-tablets {
                height: $card-height-tablet;
            }

            @include for-smartphones {
                height: $card-height-smartphones;
            }
        }
    
        &__title {
            color: white;
            font-size: 1.13rem;
            font-weight: 700;
            position: absolute;
            left: 15px;
            bottom: 15px;
            right: 90px;
    
        }
    }
}