@import './config.scss';

.collapse {
    @include main-margin-bottom; // Remplacer par margin top ? Pour ne pas faire doublon avec le main margin bottom général
    font-size: 1.5rem;

    @include for-tablets {
        font-size: 1.13rem;
    }

    @include for-smartphones {
        font-size: 0.8rem;
    }

    &--logement {
        width: 50%;

        @include for-smartphones {
            width: 100%;
        }
    }

    &--about {
        width: 100%;
    }

    &__label {
        position: relative;
        z-index: 10;
        color: white;
        background-color: $main-color;
        border-radius: 10px;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        padding: 0.6em;

        .label__btn {
            color: white;
            transition: transform 0.3s;

            @include for-tablets {
                width: 20px;
            }

            @include for-smartphones {
                width: 16px;
            }

            &--rotate {
                transform: rotate(180deg)
            }
        }

        &--logement {
            font-size: 0.75em;
        }
    }

    &__dropdown {
        background-color: $background-color;
        transform: translateY(-15px); // A changer pour format smartphone et tablette car le texte dépasse quand il remonte
        position: relative;
        z-index: 0;
        border-radius: 10px;
        font-size: 0.75em;
        font-weight: 100;
        display: grid;
        transition: grid-template-rows 0.2s ease-out;

        .content {
            overflow: hidden;
            padding: 15px; // Mettre en REM. Valeur à changer pour format smartphone et tablette car le texte dépasse quand il remonte
            transition: transform 0.2s ease-out, padding-bottom 0.2s ease-out;
        }

        &--close {
            grid-template-rows: 0fr;
            
            .content {
                transform: translateY(-50px); // A changer pour format smartphone et tablette car le texte dépasse quand il remonte
                padding-bottom: 0;
            }
        }

        &--open {
            grid-template-rows: 1fr;

            .content {
                transform: translateY(15px); // A changer pour format smartphone et tablette car le texte dépasse quand il remonte
                padding-bottom: 30px; // Mettre en REM
            }
        }
    }
}