// Variables :
$main-color: #FF6060;
$background-color: #F6F6F6;

// Mixins :
@mixin main-layout {
    max-width: 1440px;
    padding-right: 100px;
    padding-left: 100px;
    margin: auto;

    @include for-tablets {
        padding-right: 50px;
        padding-left: 50px;
    }

    @include for-smartphones {
        padding-right: 20px;
        padding-left: 20px;
    }
}

@mixin column-display {
    display: flex;
    flex-direction: column;
}

@mixin centered-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin centered-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin filter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin for-smartphones {
    @media (max-width: 375px) {
        @content;
    }
}

@mixin for-small-tablets {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablets {
    @media (max-width: 767.98px) {
        @content;
    }
}

