@import './config.scss';

.errorpage {
    @include centered-column;
    padding: 100px;
    gap: 100px;

    &__img {
        width: 597px;
    }

    &__content {
        color: $main-color;
        font-size: 2.25rem;
        font-weight: 500;
    }
}