@import './header.scss';
@import './footer.scss';
@import './errorPage.scss';
@import './cards.scss';
@import './banner.scss';
@import './logement.scss';

//variables :
$main-color: #FF6060;


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Remplacer par Montserrat */
}

a {
    text-decoration: none;
    color: black;

    &:hover {
        text-decoration: underline;
    }
}

li {
    list-style: none;
}

.layout__container {
    max-width: 1440px;
    padding: 0 100px;
    margin: auto;
    display: flex;
    flex-direction: column;
}