@import './config.scss';

.header {
    @include main-layout;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        width: 210px;
    }

    .navbar {
        font-size: 1.5rem;
        font-weight: 500;

        ul {
            display: flex;
            gap: 3.5rem;
        }

        &__active{
            text-decoration: underline;
        }
    }
}