.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;

    &__logo {
        width: 210px;
    }

    &__navbar {
        font-size: 24px;
        font-weight: 500;

        ul {
            display: flex;
            gap: 57px;
        }
    }
}