@import './config.scss';

.fiche-container {
    @include centered-column;
    justify-content: space-between;
    width: 100%;

    .infos-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .infos {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 20px;

            &__title {
                color: $main-color;
                font-size: 2.25rem;
                font-weight: 500;
            }

            &__location {
                font-size: 1.13rem;
                font-weight: 500;
            }

            &__tags {
                display: flex;
                color: white;
                font-size: 0.9rem;
                font-weight: 700;
                gap: 10px;

                li {
                    background-color: $main-color;
                    min-width: 115px;
                    padding: 3px 10px;
                    border-radius: 10px;
                    text-align: center;
                    
                }
            }
        }

        .host-container {
            display: flex;
            flex-direction: column;
            // justify-content: flex-end;
            max-width: 200px;

            .host {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;

                &__name {
                    padding-left: 30px;
                    font-size: 18px;
                    font-weight: 500;
                    text-align: right;
                    color: $main-color;
                }

                &__picture {
                    width: 64px;
                    border-radius: 50%;
                }
            }
        }
    }

    .description {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 75px;
    }
}