@import './config.scss';

.rating {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    gap: 5px;
    
    &__star {
        width: 24px;

        @include for-smartphones {
            width: 18px;        
        }
    }
}