@import './config.scss';

.slideshow {
    width: 100%;
    position: relative;
    margin-bottom: 1.25rem;

    &__img {
        width: 100%;
        height: 415px;
        border-radius: 25px;
        object-fit: cover;

        @include for-tablets {
            height: 350px;
        }

        @include for-small-tablets {
            height: 300px;
        }

        @include for-smartphones {
            height: 255px; 
        }
    }

    &__nav {
        @include overlay;
        @include centered-row;
    }

    &__btn {
        position: absolute;

        img {
            height: 80px;

            @include for-tablets {
                height: 50px;
            }

            @include for-smartphones {
                height: 24px;
            }
        }
        
        &--prev {
            left: 20px;

            @include for-smartphones {
                left: 5px;
            }
        }

        &--next {
            right: 20px;

            @include for-smartphones {
                right: 5px;              
            }
        }
    }

    &__count {
        @include font-18px-500;
        color: white;
        position: absolute;
        bottom: 20px;

        @include for-smartphones {
            font-size: 0.9rem;       
        }
    }
}